/*
 * epoch.css
 *
 * Primary CSS file for website https://www.epochcarnival.club
 *
 */

/* 
 * Default rules.
 * For visual content on mobile device screens.
 * Styles semantic elements for basic document structure.
 *
 * Layout is done using Grid for the overal document, and
 * either Flexbox or Grid for each section.
 *
 * Some documents have special settings:
 *   Home Page - The site's home page
 *   Catalog Page - A list of links, like a catalog
 *
 * There are also some general purpose classes for
 * for ad hoc styling
 *
 */

body {
	background-color: #EFEBE9;
	color: #3E2723;
	margin: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}


/* Page Header */

header {
	background-color: #3E2723;
	color: #EFEBE9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.25em;
}

header a {
	color: inherit;
	text-decoration: none;
}


/* Page Navigation */

nav {
	background-color: #3E2723;
	color: #EFEBE9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: bold;
}

nav a {
	padding: 0.5em;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	text-align: center;
}

nav a.current {
	background-color: #EFEBE9;
	color: #3E2723;
}


/* Page Main Content */

main {
	display: flex;
	flex-direction: column;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	min-width: 80%;
}

article {
	margin-bottom: 1em;
	padding: 1em;
	border: 2px solid #3E2723;
	border-radius: 1em;
}

article h2 {
	text-align: center;
}

hr {
	border-style: solid;
	border-color: #3E2723;
}


/* Page Footer */

footer {
	background-color: #3E2723;
	color: #EFEBE9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


/* Home Page Settings */

main.home-page dl {
	margin: 0;
	padding: 0;
}

main.home-page dt {
	display: inline;
	margin-right: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

main.home-page dd {
	margin: 0;
	display: inline;
}

main.home-page cite {
	display: block;
	text-align: right;
	padding-top: 0.25em;
	padding-bottom: 2em;
}

main.home-page blockquote {
	margin: 0;
}


/* Catalog Page Settings */

main.catalog-page ul {
	padding: 0;
}

main.catalog-page ul li{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	padding: 0.5em;
	border: 2px solid #3E2723;
	border-radius: 1em;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

main.catalog-page ul li a {
	color: inherit;
	text-decoration: none;
}


/* General Purposes Classes */

.grid-2-2 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}


/*
 * Setting for larger screen sizes
 *
 */

@media (min-width: 70em) {
	body {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr auto;
	}

	/* Page Header */
	header {
		grid-column: 1 / -1;
		padding-left: 17em;
		border-bottom: 1px solid #EFEBE9;
	}

	/* Page Navigation */
	nav {
		flex-direction: column;
		justify-content: flex-start;
		border-bottom: 1px solid #EFEBE9;
	}

	nav a {
		height: auto;
		width: 15em;
		padding: 1em;
	}

	/* Page Main Content */
	main {
		min-width: 25em;
		max-width: 40em;
	}

	
	/* Page Footer */
	footer {
		grid-column: 1 / -1;
		padding-left: 17em;
	}
}
